// utiliser ce scss pour mettre des raccourcis de couleur : $METTRE-NOM-VOULU : #METTRE-LE-CODE-COULEUR; //

    // pour chercher la couleur exacte d'une image que vous cherchez https://color.adobe.com/fr/create/image-gradient //

    // palette de couleur https://htmlcolorcodes.com/fr/selecteur-de-couleur/ //    

    $rouge : rgba(181,23,18,255);

    // bootstrap
    $theme-colors : ("ayhan":#334d5c );
    $spacers : ('6' : 1rem*6);
    $spacers : ('7' : 1rem*7);
    